.header {
  font-size: 20px;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    .left-content {
      img {
        width: 160px;
        height: auto;
        padding: 0px 10px;
      }
    }
    .center-content {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 76px;

      .child-center-content {
        display: inline-block;
        cursor: pointer;
        line-height: 24px;
        padding: 20px 15px;
        text-align: left;

        span {
          position: relative;
          display: flex; // Giúp ảnh, chữ và icon nằm cùng hàng
          align-items: center; // Căn giữa theo chiều dọc
          gap: 8px; // Tạo khoảng cách giữa ảnh và chữ

          i {
            padding: 10px;
          }

          img {
            height: 26px;
            vertical-align: middle; // Đảm bảo ảnh căn giữa với chữ (nếu không dùng flex)
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px; // Khoảng cách dưới chữ
            width: 0;
            height: 2px; // Độ dày của thanh
            background-color: #000000; // Màu của thanh
            transition: width 0.3s ease-in-out;
          }
        }

        // Hover vào .child-center-content hoặc span đều có hiệu ứng
        &:hover span {
          &::after {
            width: 100%; // Thanh mở rộng từ trái sang phải khi hover
          }
        }
      }
    }
    .right-content {
      height: 76px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .search {
        padding-left: 26px;
        padding-right: 5px;
      }
      .login-register {
        padding: 10px;
      }
      .favorite {
        padding: 10px;
      }
      .cart {
        padding-right: 13px;
        padding-left: 7px;
        padding-top: 5px;
      }
    }
  }
}
