<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">F8 Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">ﾄ斉ハg khﾃｳa h盻皇</a></li>
            <li><a class="dropdown-item" href="/admin/manageproduct">Admin Qu蘯｣n
                Lﾃｽ S蘯｣n Ph蘯ｩm</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      {{#if user}}
        <span class="me-3">汨､ {{user.email}} {{user.phone}}</span>
        <a href="/user/{{user._id}}/edit">S盻ｭa</a>
        <form action="/user/logout" method="POST" style="display:inline;">
          <button class="btn btn-danger btn-lg" type="submit">ﾄ斉ハg xu蘯･t</button>
        </form>
      {{else}}
        <a href="/login" class="btn btn-primary btn-lg me-2">ﾄ斉ハg nh蘯ｭp</a>
        <a href="/register" class="btn btn-success btn-lg">ﾄ斉ハg kﾃｽ</a>
      {{/if}}

    </div>
  </div>
</nav>