footer {
  background-color: #14b8b9;
  padding: 10px;

  a {
    font-size: 18px;
    color: #ffff;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
  .left-col {
  }
  .right-col1 {
  }
  .right-col2 {
  }
}
